*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1,h1,h3,p{
    margin:auto;
    text-align: center;
}

header{
    min-height: 100vh;
}


